.main{
  border-radius: 100%;

  min-width: 55vw;
  min-height: 55vh;
  background-color: white;

  display: flex;
  justify-content: center;
  align-content: center;
}

.hour, .minute, .second{
  min-width: 2px;
  background-color: black;



}
.hour{
  margin: 80px 0px;
}
.minute{
  margin: 50px 0px;
}
.second{
  margin: 30px 0px;
}

.center{
  display: flex;
  justify-content: center;
  align-content: center;
}
.parent{
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}